#educationInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

#courseRender {
    font-weight: bold;
    font-size: medium;
}

#right {
    display: flex;
    font-weight: bold;
    font-size: smaller;
}